<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form>
        標題名稱<input type="text" name="new_title" placeholder="請輸入標題"><br>
        地區<input type="text" name="new_area" placeholder="請輸入縣市"><br>
        詳細地址<input type="text" name="new_address" placeholder="請輸入地址"><br>
        出租金額<input type="text" name="new_rent" placeholder="請輸入金額"><br>
        坪數<input type="text" name="new_size" placeholder="請輸入坪數"><br>
        樓層<input type="text" name="new_floor" placeholder="請輸入樓層/最高樓層"><br>
        聯絡人<input type="text" name="new_contact" placeholder="請輸入聯絡人"><br>
        發文者<input type="text" name="new_poster" placeholder="請輸入發文者姓氏及稱謂"><br>

    </form>
</div>
</body>
</html>